/* Clear out all default styles */

.container {
  display: flex;
}

aside {
  width: 200px; /* Adjust sidebar width as needed */
  padding: 20px;
  border-right: 1px solid #ccc; /* Optional separator */
}

main {
  flex-grow: 1;
  padding: 20px;
}
